html, body{
  font-family: 'Montserrat', sans-serif;
  background-color: #F0F0F0;
}
html{scroll-behavior:smooth}
a{text-decoration: none;color:initial; }a:hover{text-decoration: none !important; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  vertical-align: baseline;
  line-height: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
*
{
  margin: 0px;
  padding: 0px;
}
body {
  line-height: 1;
  
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
button
{
  border:none !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}

input   { -moz-border-radius:10px; -webkit-border-radius:10px; }
input[type=submit],label,select,.pointer  { cursor:pointer; }
.btn-primary {
    background-color: rgba(1, 119, 181,1) !important;
    
}
.clear{clear: both; width:100%; height: auto;}
/*header-top-start*/
.header_top
{
      width: 100%;
    position: fixed;
    top: 0px;
    height: 50px;
    left: 0px;
    background-color: #fff;
    box-shadow: -1px 0px 1px #cccccc73;
    padding: 0px 2rem;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
}
.header_top img.logo
{
  width: 100px;
}
.header_top span.page_location
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #8e8e8e;
}
.header_top_left {
    display: flex;
    align-items: center;
    width: 32%;
    justify-content: space-between;
}
.date_time {
    margin-right: 50px;
    font-weight: 500;
}
.date_time span {
    font-size: 13px;
    margin: 0px 5px;
}
.header_top_right .nav {
    /*display: flex;
    flex-wrap: wrap;*/
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.header_top_right  a {
    color: #404041;
}
.header_top_right .nav-link-profile {
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
  }
.header_top_right .nav-link-profile::after
{
    background: url(../img/arrow-down-sign-to-navigate.svg) no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    top: 12px;
    content: "";
}
.header_top_right .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.logged-name {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    font-family: Montserrat;
    font-weight: 500;
    color: #575962;
}
.nav-link-profile img {
    border-radius: 50%;
    width: 32px;
}
.user-profile-nav {
    position: absolute;
    border: 0;
    padding: 10px;
    background-color: #2f3844;
    border-radius: 0;
    box-shadow: none;
    left: auto;
    right: 0;
    top: 52px;
    transform: none;
    will-change: unset;
    display: none;
}
.header_top_right {
    display: flex;
    align-items: center;
}
.notification {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
}
.notification .number1
{
    position: absolute;
    background-color: #DD482C;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0px;
    font-size: 9px;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.notification img {
    width: 26px;
}
/*header-top-end*/

/*body left-menu start*/


.left_menu
{
    width: 100px;
    height: 100vh;
    position: fixed;
    background-color: #0077B5;
/*    padding: 0px 10px;*/
    top: 50px;
    left: 0px;
}
.left_menu ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 50px);
}
.left_menu ul li
{
  text-align: center;
  height: 100%;
  transition: all 0.2s ease-in-out;
  /*padding: 5px 10px;*/
  border-bottom: 1px solid #056FA7;
}
.left_menu ul li:last-child
{
  border-bottom: none;
}
.left_menu ul li:hover, .left_menu ul li.active
{
  /*opacity: 1;*/
  background-color: #039BEA;
}
.left_menu ul li a, .left_menu ul li a span
{
      color: #fff;
    display: block;
    font-size: 10px;
    line-height: 13px;
    font-weight: 600;
}
.left_menu ul li a img
{
  width: 27px;
  margin: 0px auto;
  display: block;
  padding: 5px 0px;
}
/*midbody start*/

.mid_body 
{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.mid_body ul.nav.nav-pills {
  background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: 1px 2px 4px 0px #00000012;
}
.mid_body .nav-pills>li a
{
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin: 0px 20px;
    font-weight: 600;
}
.mid_body .nav-pills>li a:hover
{
  background-color: #fff;
}
.mid_body .nav-pills>li.active>a, .mid_body .nav-pills>li.active>a:focus, .mid_body .nav-pills>li.active>a:hover
{
    color: #3F4047;
    background-color: #fff;
    
}
.mid_body .nav-pills>li.active>a:before
{
    content: "";
    position: absolute;
    left:0px;
    right: 0px;
    bottom: 0;
    background: #0077B5;
    height: 2px;
    width: 100%;
}
.mid_body .tab-content
{
    width: 70%;
    background-color: #fff;
    padding: 10px 20px;
    margin: 44px 0px 10px 10px;
    box-sizing: border-box;
}
h2
{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  color: #3f4047;
}
.mid_body .tab-content h3
{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #3f4047;
}
.att_stats
{
  box-shadow: 0px 1px 4px 1px #00000012;
  padding:0px 25px;
  display: flex;
  justify-content: space-between;
  margin: 14px 0px;
  font-family: Montserrat;
  min-height: 120px;
}
.att_stats_left, .att_stats_right
{
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.att_stats_left
{
    align-items: flex-start;
}
.att_stats_right
{
    align-items: flex-end;
}
.att_stats_left p
{
  color: #3F4047;
  font-size: 15px;
  font-weight: 600;
}
.att_stats_left span, .req_stat span
{
  color: #0077B5;
  font-size: 27px;
  font-weight: 700;
  display: block;
}
.att_stats_left span.btm
{
  font-size:9px;
}
.att_stats_right a, .section_head a
{
  color: #0077B5;
  font-size: 13px;
  font-weight: 600;
}
.att_stats_right span
{
  color: #3F4047;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
}
.section_head
{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 5px 0px;
}

.notification_right
{
  /*background-color: #F0F0F0;
  height: calc(100vh - 65px);
  width: 28%;
  position: fixed;
  top: 84px;
  right: 0px;
  box-shadow: inset 0px 1px 6px 0px #0000002e;
  overflow: scroll;*/
    height: 100%;
    width: 29%;
    margin-top: 34px;
    float: right;
}
.notification_right ul
{
  margin:0px;
  padding: 0px;
}
.notification_right ul li
{
  box-shadow: 0px 1px 4px 1px #00000012;
    padding: 15px 12px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin: 10px;
}
.notification_right ul li .imgbox
{
  min-width: 35px;
  height: auto;
  margin-right: 10px;
}
.not_content 
{
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}
.notification_right ul li .not_content span
{
  margin: -2px 0px 9px 0px;
  display: block;
  color: #575962;
  font-size: 13px;
  font-weight: 600;
}
.not_content p
{
  color: #0077B5;
  font-size: 11px;
  font-weight: 400;

}
.notification_right ul li .imgbox img
{
  max-width: 100%;
}
.notification_right ul li span
{
    display: block;
    color: #575962;
    font-size: 9px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 3px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
  border:none;
}
.box_content
{
  box-shadow: 0px 1px 4px 1px #00000012;
  padding: 5px 25px;
  margin:10px 0px;
  display: inline-block;
  width: 100%;
}
.box_content td
{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    color: #3f4047;
    padding: 13px 0px !important;
    text-align: center;
    vertical-align: middle !important;
}
.box_content td:first-child
{
  text-align: left;
}
.box_content td:last-child
{
  text-align: right;
}
.box_content#HR_Tasks td span.dates
{
  margin:0px 10px;
}
.box_content#GPS td:first-child
{
  font-size: 10px;
  font-weight: 700;
}
.box_content#GPS td:first-child span
{
  color: #0077B5;
  font-weight: 600;
}
.box_content#GPS td
{
  font-weight: 500;
  font-size: 13px;
}
.box_content#GPS td:nth-child(2)
{
  text-align: left;
}
.box_content#GPS td span.time
{
  margin:0px 10px;
}
.box_content .section_head
{
  margin:15px 0px;
}
.box_content .section_head h3
{
  font-size:14px;
  color: #0077B5;
}
.req_app {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.req_app .statement
{
  /*width: 80%;*/
  font-size: 12px;
  font-weight: 500;
}
.req_app .statement span
{
  font-weight: 600;
  display: block;
  font-size: 13px;
}
.req_app .actions
{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.req_app .actions a
{
  color: #575962; 
  font-size: 11px;
  font-weight: 600;
  margin-left: 10px;
}
.req_app .actions a:hover
{
  color: #0077B5;
}
.req_stat
{
  margin:0px;
  padding: 0px;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.req_stat li
{
  box-shadow: 0px 1px 4px 1px #00000012;
  width: 19%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
}
.req_stat_top
{
  height: 35px;
  display: flex;
  justify-content: space-between;
  
  align-items: end;
}
.req_stat_top span
{
font-weight: 700;
  font-size: 10px;
  color: #3F4047;
  padding-top:5px;
}
.req_stat_top img
{
  width: 30px;
}

/*midbody end*/